# Language
language = C

# Indentation
indent_columns = 4
indent_with_tabs = 0

# Braces
nl_brace_else = force
nl_brace_while = force
nl_brace_for = force

# Spacing
sp_before_sparen = force
sp_after_comma = force

# Newlines
nl_end_of_file = add

# Alignments
align_var_def_span = 1
align_assign_span = 1
