########################################
# INDENTATION
########################################
indent_columns = 4
indent_with_tabs = 0
input_tab_size = 4
output_tab_size = 4

########################################
# FUNCTION BRACES (NEW LINE)
########################################
nl_func_def_start = add

########################################
# CONTROL FLOW BRACES (NEW LINE)
########################################
nl_if_brace = add
nl_else_brace = add
nl_for_brace = add
nl_while_brace = add
nl_do_brace = add
nl_switch_brace = add

########################################
# FORCE BRACES (MISRA)
########################################
mod_full_brace_if = add
mod_full_brace_for = add
mod_full_brace_while = add
mod_full_brace_do = add

########################################
# SPACING
########################################
sp_before_sparen = force
sp_inside_sparen = remove
sp_after_comma = force
sp_assign = force

########################################
# NEWLINES
########################################
nl_end_of_file = add
nl_max = 2

########################################
# CLEANUP
########################################
eat_blanks_after_open_brace = yes
eat_blanks_before_close_brace = yes
