########################################
# BASIC INDENTATION
########################################
indent_columns = 4
indent_with_tabs = 0
input_tab_size = 4
output_tab_size = 4

########################################
# FUNCTION DEFINITIONS (THIS FIXES .c)
########################################
nl_func_def_start = add

########################################
# ALLMAN BRACES (CONTROL FLOW)
########################################
nl_if_brace = add
nl_else_brace = add
nl_for_brace = add
nl_while_brace = add
nl_do_brace = add
nl_switch_brace = add

########################################
# FORCE BRACES (MISRA-STYLE)
########################################
mod_full_brace_if = add
mod_full_brace_for = add
mod_full_brace_while = add
mod_full_brace_do = add

########################################
# SPACING
########################################
sp_before_sparen = force
sp_inside_sparen = remove

sp_after_comma = force
sp_before_comma = remove

sp_assign = force
sp_arith = force
sp_compare = force
sp_bool = force

sp_before_ptr_star = remove
sp_after_ptr_star = force

########################################
# INDENTATION
########################################
indent_switch_case = 4
indent_case_shift = 0
indent_brace = 0
indent_label = 1

########################################
# NEWLINES
########################################
nl_end_of_file = add
nl_max = 2
nl_after_func_body = 2

########################################
# CLEANUP
########################################
eat_blanks_after_open_brace = yes
eat_blanks_before_close_brace = yes
